!.vscode/*
.vscode
!extracted-data/*
extracted-data
!my_env/*
my_env
!assignment4.db
assignment4.db
data_extractor.py
.coverage
__pycache__
data_extractor/file_loaders/__pycache__
data_extractor/storage/__pycache__
data_extractor/tests/__pycache__
extracted_data
/home/shtlp_0071/Documents/assignment4/data_extractor/file_loaders/__pycache__